{% load i18n %}
<section class="lg:max-w-screen-xl container mx-auto px-[12px] my-[25px]">
    <h3 class="text-[32px] font-[700] text-textColor">{% trans "Tərəfdaşlarımız" %}</h3>
    <div class="swiper partnersSlider mt-[25px] md:mt-[44px]">
        <div class="swiper-wrapper">
            {% for partner in partners %}
            <div class="swiper-slide">
                <img src="{{partner.image.url}}" alt="img" style="width: 100%">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
</section>

  <!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".partnersSlider", {
    slidesPerView: 2.5,
    spaceBetween: 30,
    freeMode: true,
    breakpoints: {
        640: {
          slidesPerView: 3.5,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4.5,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5.5,
          spaceBetween: 50,
        },
      },
  });
</script> 