{% load static %}
{% load i18n %}

<header class="hidden lg:block py-[20px] border-b border-gray-200 text-[#7E7E7E]">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center px-[12px]">
        <div>
            <a href='{% url "home" %}'><img class="w-[60px] h-[60px]" src="{% if setting.logo %}{{setting.logo.url}}{% endif %}" alt="logo"></a>
        </div>
        <div class="flex items-center flex-1">
            <!-- This is an example component -->
                        
            <div class="relative flex items-center border-2 border-[#BCE3C9] rounded py-1 max-w-2xl w-full mx-auto">
                <input type="text" placeholder="Axtar ..." class="flex-grow px-4 py-2 border-none focus:ring-0 focus:outline-none" />
                <button class="px-4 py-2 text-gray-500 hover:text-gray-700 focus:outline-none">
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </button>
            </div>

            <div class="flex gap-5 items-center">
                <a href="" class="relative flex items-center gap-2">
                    <div class="relative">
                        <img class="w-[25px] h-[25px]" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}">
                        <span class="absolute top-[-8px] right-[-8px] bg-first text-white text-xs font-bold w-[18px] h-[18px] flex items-center justify-center rounded-full">6</span>
                    </div>
                    <span>Sevimlilər</span>
                </a>
                <div class="relative group">
                    <!-- Trigger Element -->
                    <a class="relative flex items-center gap-2 cursor-pointer">
                        <div class="relative">
                            <img class="w-[25px] h-[25px]" alt="Cart" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}">
                            <span id="header-basket-count" class="absolute top-[-8px] right-[-8px] bg-first text-white text-xs font-bold w-[18px] h-[18px] flex items-center justify-center rounded-full">3</span>
                        </div>
                        <span>Səbət</span>
                    </a>
                
                    <!-- Dropdown Menu -->
                    <div id="navbar-basket" class="hidden absolute right-0 z-[200] w-[400px] flex-col  py-1 px-4 text-gray-800  group-hover:flex">
                        <div class="p-4 bg-white border rounded-lg my-3">
                            <div id="navbar-basket-items">
                               
                            </div>
                            <div class="font-bold">Ümumi qiymət: <span id="navbar-basket-total"></span></div>
                            <div class="grid grid-cols-2 gap-2 mt-4 text-[14px]">
                                <a href="#" class="text-center bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded">Səbətə bax</a>
                                <button id="navbar-basket-checkout" onclick="checkoutButton()" class="text-center bg-first hover:bg-first-hover text-white px-4 py-2 rounded">Tamamla</button>
                            </div>
                        </div>
                    </div>
                </div>
               
                <a href="" class="flex items-center gap-1">
                    <img class="w-6 h-6" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}">
                    <span>Hesab</span>
                </a>
            </div>
            
        </div>
        
    </div>
    
</header>

