{% load urlhelper %}
{% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination-area mt-20 mb-20">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% edit_query_pagination request page=1 %}">
                            <i class="fi-rs-arrow-small-left"></i>
                        </a>
                    </li>
                {% endif %}
                
                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page }}</a>
                        </li>
                    {% elif page_obj.number > page|add:"-3" and page_obj.number < page|add:"3" %}
                        <li class="page-item">
                            <a class="page-link" href="{% edit_query_pagination request page=page %}">
                                {{ page }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.paginator.num_pages > page_obj.number|add:"3" %}
                    <li class="page-item">
                        <a class="page-link dot" href="#">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% edit_query_pagination request page=page_obj.paginator.num_pages %}">
                            {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% edit_query_pagination request page=page_obj.paginator.num_pages %}">
                            <i class="fi-rs-arrow-small-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}


