{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">

    {% block title %}
    <title>{{setting.site_title}}</title>
    {% endblock title %}

    {% block seo %}
    {% endblock seo%}

    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <meta property="og:locale" content="az_AZ"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:site_name" content="{{site_url}}"/>
    <link rel="shortcut icon" href="{% if setting.favicon %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ setting.favicon.url }}{% endif %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% if setting.favicon %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ setting.favicon.url }}{% endif %}"/>

    <!-- Meta Pixel Code Google -->
    <meta name="google-site-verification" content="EjJslNGIBTSS7Tmwhd-1B8nvpBZ_QCgoODNiEjljEBc" />
    <!-- End Meta Pixel Code Google -->

    <!-- Meta Pixel Code Facebook -->
    <meta name="facebook-domain-verification" content="zvwk2agigwho58o0gkdounc8eoxivs" />
    <!-- End Meta Pixel Code Facebook -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static "assets/css/blog.css" %}">
    {% endblock css %}
    <link rel="stylesheet" href="{% static "assets/css/fixed-header.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom-modal-body.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/faq.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/notification.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom_loader.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3602899766643790');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=3602899766643790&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DZDXSCEJF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4DZDXSCEJF');
    </script>
        <!-- End Google tag (gtag.js) -->

</head>

<body>
    {% include "components/basket-notification/notification.html" %}
    {% comment %} <div id="overlay" class="overlay"></div>
    <div id="loader" class="loader"></div> {% endcomment %}

    <!-- Modal -->
    {% comment %} <div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="deal" style="background-image: url('assets/imgs/banner/popup-1.png')">
                        <div class="deal-top">
                            <h6 class="mb-10 text-brand-2">Deal of the Day</h6>
                        </div>
                        <div class="deal-content detail-info">
                            <h4 class="product-title"><a class='text-heading' href='shop-product-right.html'>Organic fruit for your family's health</a></h4>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <span class="current-price text-brand">$38</span>
                                    <span>
                                        <span class="save-price font-md color3 ml-15">26% Off</span>
                                        <span class="old-price font-md ml-15">$52</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="deal-bottom">
                            <p class="mb-20">Hurry Up! Offer End In:</p>
                            <div class="deals-countdown pl-5" data-countdown="2025/03/25 00:00:00">
                                <span class="countdown-section"><span class="countdown-amount hover-up">03</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">02</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">43</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">29</span><span class="countdown-period"> sec </span></span>
                            </div>
                            <div class="product-detail-rating">
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (32 rates)</span>
                                </div>
                            </div>
                            <a class='btn hover-up' href='shop-grid-right.html'>Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    {% block header %}
    {% include "components/header/header.html" %}
    {% endblock header %}
    {% include "components/header/mobile-header.html" %}
    {% include "components/header/fixed-mobile-header.html" %}

    <!--End header-->
    <main class="main">
    {% block main %}{% endblock main %}
    </main>
    {% include "components/footer/footer.html" %}

    <script>
        document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                setTimeout(function () {
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("overlay").style.display = "none";
                }, 10);
            } else {
                document.getElementById("loader").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
        };
    </script>
    {% if user.is_authenticated %}
        <script>
            var isAuthenticated = true;
        </script>
    {% else %}
        <script>
            var isAuthenticated = false;
        </script>
    {% endif %}
    <script src="{% static "assets/js/vendor/modernizr-3.6.0.min.js" %}"></script>
    <script src="{% static "assets/js/vendor/jquery-3.6.0.min.js" %}"></script>

    <script src="{% static "assets/js/vendor/jquery-migrate-3.3.0.min.js" %}"></script>
    <script src="{% static "assets/js/vendor/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/slick.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.syotimer.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/waypoints.js" %}"></script>
    <script src="{% static "assets/js/plugins/wow.js" %}"></script>
    <script src="{% static "assets/js/plugins/perfect-scrollbar.js" %}"></script>
    <script src="{% static "assets/js/plugins/magnific-popup.js" %}"></script>
    <script src="{% static "assets/js/plugins/select2.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/counterup.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.countdown.min.js" %}"></script>
    <script src="{% static "assets/js/plugins/images-loaded.js" %}"></script>
    <script src="{% static "assets/js/plugins/isotope.js" %}"></script>
    <script src="{% static "assets/js/plugins/scrollup.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.vticker-min.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.theia.sticky.js" %}"></script>
    <script src="{% static "assets/js/plugins/jquery.elevatezoom.js" %}"></script>
    <!-- Template  JS -->
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/shop.js" %}"></script>
    <script src="{% static "assets/js/index.js" %}"></script>

    <script src="{% static "assets/js/delivery.js" %}"></script>
    <script src="{% static "assets/js/notification.js" %}"></script>
    {% comment %} <script src="{% static "assets/js/laoder.js" %}"></script> {% endcomment %}


    {% block js %}{% endblock js %}
</body>

</html>
