<div class="page-header mt-30 mb-50">
    <div class="container">
        <div class="archive-header">
            <div class="row align-items-center">
                <div class="col-xl-3">
                    <h1 class="mb-15">{{title}}</h1>
                    <div class="breadcrumb">
                        <a href='{% url "home" %}' rel='nofollow'><i class="fi-rs-home mr-5"></i>Ana səhifə</a>
                        <span></span> {{title}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>