{% load i18n %}
{% load static %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-primary d-md-none" type="button" data-toggle="collapse" data-target="#filterMenu"
        aria-expanded="false" aria-controls="filterMenu">
        {% trans 'Filters' %}
    </button>
</div>
<div class="collapse d-md-block filter-menu" id="filterMenu">
    <form class="mb-4" method="get" action="{% url 'vacancies' %}">
        <div class="form-row">
            <div class="form-group">
                <select id="vactype" name="vactype" class="form-control" onchange="this.form.submit()">
                    <option selected value="">{% trans 'Elanlar' %}...</option>
                    {% for type in vacancy_types %}
                    <option {% if  type.slug == request.GET.vactype %}selected{% endif %} value="{{ type.slug }}">{{ type.vacancy_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select id="department" name="department" class="form-control" onchange="this.form.submit()">
                    <option selected value="">{% trans 'Şöbələr' %}...</option>
                    {% for department in departments %}
                    <option {% if department.slug == request.GET.department %}selected{% endif %} value="{{ department.slug }}">{{ department.department_name }}</option>
                    {% endfor %}
                </select>                
            </div>
            <div class="form-group">
                <select id="workHour" name="hour" class="form-control" onchange="this.form.submit()">
                    <option selected value="">{% trans 'İş qrafiki' %}...</option>
                    {% for hour in working_hours %}
                    <option {% if hour.slug == request.GET.hour %}selected{% endif %} value="{{ hour.slug }}">{{ hour.work_hour }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select id="salary" name="salary" class="form-control" onchange="this.form.submit()">
                    <option selected value="">{% trans 'Əmək haqqı' %}...</option>
                    <option value="0-500" {% if '0-500' == request.GET.salary %}selected{% endif %} value="{{ type.slug }}" >0-500 AZN</option>
                    <option value="500-1000" {% if '500-1000' == request.GET.salary %}selected{% endif %} value="{{ type.slug }}" >500-1000 AZN</option>
                    <option value="1000-2000" {% if '1000-2000' == request.GET.salary %}selected{% endif %} value="{{ type.slug }}" >1000-2000 AZN</option>
                    <option value="2000" {% if '2000' == request.GET.salary %}selected{% endif %} value="{{ type.slug }}" >{% trans '2000 AZN-dən çox' %}</option>
                </select>
            </div>
            {% if request.GET.department or request.GET.vactype or request.GET.hour or request.GET.salary %}
            <a href="{% url 'vacancies' %}"><span aria-hidden="true">{% trans 'Filterləri təmizlə' %}</span></a>
            {% endif %}
        </div>
    </form>
</div>