<article class="row align-items-center hover-up">
    <figure class="col-md-4 mb-0">
        <a aria-label="Quick view" data-bs-toggle="modal" data-bs-target="#quickViewModal{{product.id}}"><img src="{{product.image.url}}" alt=""></a>
    </figure>
    <div class="col-md-8 mb-0">
        <h6>
            <a aria-label="Quick view" data-bs-toggle="modal" data-bs-target="#quickViewModal{{product.id}}">{{product.title}}</a>
        </h6>
        <div class="product-price">
            <span>{% if product.discount %}{{product.discount_price}}{% else %}${{product.price}}{% endif %}</span>
            {% if product.discount %}
            <span class="old-price">${{product.price}}</span>
            {% endif %}
        </div>
    </div>
</article>
{% include "components/product/modal.html" %}
