{% load static %}
{% load custom_filters %}
{% load i18n %}
<div class="modal fade custom-modal" id="quickViewModal{{product.id}}{% if category_product %}{{product.id}}{% endif %}" tabindex="-1" aria-labelledby="quickViewModalLabel{{product.id}}{% if category_product %}{{product.id}}{% endif %}"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body custom-modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    {% for image in product.images.all %}
                                    <figure class="border-radius-10">
                                        <img src="{{image.image.url}}" alt="product image">
                                    </figure>
                                    {% endfor %}
                                </div>
                                <!-- THUMBNAILS -->
                                {% if product.images.count > 1 %}
                                <div class="slider-nav-thumbnails">
                                    {% for image in product.images.all %}
                                    <div><img src="{{image.image.url}}" alt="product image"></div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <!-- End Gallery -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info pr-30 pl-30">
                                {% if product.stock > 0 %}
                                    {% if product.discount %}<span class="stock-status out-stock">{% trans "Endirim" %}</span>{% endif %}
                                {% else %}
                                    <span class="stock-status out-stock">{% trans "Stokda yoxdur" %}</span>
                                {% endif %}
                                <h3 class="title-detail"><a href="{{product.get_absolute_url}}" class="text-heading">{{product.title}}</a></h3>
                              
                                <div class="clearfix product-price-cover">
                                    {% if product.stock > 0%}
                                    <div class="product-price primary-color float-left">
                                        <span class="current-price text-brand">₼ {% if product.discount %}{{product.discount_price|format_decimal:2}}{% else %}{{product.price|format_decimal:2}}{% endif %}</span>
                                        {% if product.discount %}
                                        <span>
                                            <span class="save-price font-md color3 ml-15">{{product.discount}}%</span>
                                            <span class="old-price font-md ml-15">₼ {{product.price|format_decimal:2}}</span>
                                        </span>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="product-price primary-color float-left">
                                        <span class="current-price text-brand">₼ {{product.price|format_decimal:2}}</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="detail-extralink mb-30">
                                    {% if product.stock > 0%}
                                    <div class="product-extra-link2">
                                        {% if user.is_authenticated %}
                                        <button onclick="addToBasket({{ product.id }},1)" class="button button-add-to-cart"><i
                                                class="fi-rs-shopping-cart"></i>{% trans "Səbətə əlavə et" %}</button>
                                        {% else %}
                                            <form action="{% url "login" %}" method="get">
                                                <button type="submit" class="button button-add-to-cart"><i
                                                    class="fi-rs-shopping-cart"></i>{% trans "Səbətə əlavə et" %}</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="font-xs">
                                    <ul>
                                        <li class="mb-5">{% trans "Brend" %}: <span class="text-brand">{{product.vendor}}</span></li>
                                        {% if product.using_time %}
                                        <li class="mb-5">{% trans "İstifadə müddəti" %}:<span class="text-brand"> {{product.using_time}} {% trans "ay" %}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% if product.description %}
                                <div class="product-description mt-20">
                                    <h4>{% trans "Açıqlama" %}:</h4>
                                    <p>{{ product.description|safe }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <!-- Detail Info -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>