{% load static %}
{% load custom_filters %}
{% load producthelper %}
{% load i18n %}
<div style="position:relative;" class="product-cart-wrap h-100" data-product-id="{{ product.id }}">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a href="{{product.get_absolute_url}}">
                <img class="default-img" src="{{product.image.url}}" alt="">
            </a>
        </div>
        <div class="product-action-1 d-none d-sm-flex">
            <a id="product_action_{{ product.id }}" aria-label='Sevimlilərə əlavə et' {% if user.is_authenticated %}onclick="toggleFavorite({{ product.id }})"{% else %}href="{% url "login" %}"{% endif %} class='action-btn'>{% if product|is_wished:request and user.is_authenticated %}<img style="width:15px;" src="{% static "assets/imgs/heart.png" %}" alt="">{% else %}<i class="fi-rs-heart"></i>{% endif %}</a>
            <a aria-label="Sürətli bax" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal{{product.id}}{% if category_product %}{{product.id}}{% endif %}"><i class="fi-rs-eye"></i></a>
        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            {% if product.stock > 0 %}
                {% if product.badges == 1 %}
                <span class="hot">{% trans "Ən çox satılan" %}</span>
                {% elif product.badges == 2 %}
                <span class="new">{% trans "Yeni" %}</span>
                {% elif product.badges == 3 and product.discount%}
                <span class="best">{{product.discount}}%</span>
                {% endif %}
            {% else %}
            <span class="hot">{% trans "Stokda yoxdur" %}</span>
            {% endif %}
        </div>
    </div>
    <div class="product-content-wrap h-custom-50 d-flex flex-column justify-content-between">
        <div>
            <div class="product-category">
                <a href='{% url "shop" %}?category={{product.category.id}}'>{{product.category}}</a>
            </div>
            <h2><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
            <div>
            {% if product.vendor %}
                <span class="font-small text-muted">By <a href='{% url "shop" %}?vendor={{product.vendor.slug}}'>{{product.vendor}}</a></span>
            {% else %}
            <br/>
            {% endif %}
            </div>
        </div>

        <div class="product-card-bottom d-flex align-items-center">
            {% if product.stock > 0 %}
            <div class="product-price d-md-flex flex-md-column">
                <span>₼ {% if product.discount %}{{product.discount_price|format_decimal:2}}{% else %}{{product.price|format_decimal:2}}{% endif %}</span>
                {% if product.discount %}
                <span class="old-price">₼ {{product.price|format_decimal:2}}</span>
                {% endif %}
            </div>
            {% else %}
            <div class="product-price">
                <span>₼ {{product.price|format_decimal:2}}</span>
            </div>
            {% endif %}
            <div  class="product-favorite-btn d-md-none">
                <a class='add' id="mobile_product_action_{{ product.id }}" aria-label='Sevimlilərə əlavə et' {% if user.is_authenticated %}onclick="toggleFavorite({{ product.id }})"{% else %}href="{% url "login" %}"{% endif %} class='action-btn'>{% if product|is_wished:request and user.is_authenticated %}<img style="width:14px !important;" src="{% static "assets/imgs/heart.png" %}" alt="">{% else %}<i class="fi-rs-heart"></i>{% endif %}</a>
            </div>
            <div class="add-cart">
                {% if product.stock > 0 %}
                <a class='add'  {% if user.is_authenticated %}onclick="addToBasket({{ product.id }},1)"{% else %}href="{% url "login" %}"{% endif %}><i class="fi-rs-shopping-cart mr-5"></i>{% trans "Əlavə et" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "components/product/modal.html" %}
