{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load producthelper %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin="localhost"/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin="localhost"></script>
<style>
    #map {
        height: 320px; 
        z-index: -1;
        {% comment %} filter: grayscale(100%); {% endcomment %}
    }
    #map2 {
        height: 320px; 
        {% comment %} filter: grayscale(100%); {% endcomment %}
    }
    #map-container {
        position: relative;
    }
    #map2-container {
        position: relative;
    }
    .map-button {
        position: absolute;
        top: 90px;
        left: 11px;
        z-index: 1000; /* Haritanın üzerinde en üstte olması için */
        background: white;
        border: 2px solid rgb(169, 169, 169);
        border-radius: 3px;
        padding: 2px 2px 0px 2px;
    }
    .map-button img{
        width: 25px;
    }
    .delivery-img{
        width: 25px;
    }
    .map-basket-item img{
        width: 50px;
    }
    .addressResults ul li:hover{
        background-color: whitesmoke;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock css %}

{% block header %}
{% include "components/header/header.html" with show_bottom="False" %}
{% endblock header %}

{% block main %}
    <div id="map-container">
        <div id="map"></div>
        <button onclick="centerMapToCurrentLocation()" class="map-button">
            <img src="{% static "/assets/imgs/location.png" %}" alt="" srcset="">
        </button>
    </div>
    <div class="container-sm mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8" >
                <h3>Çatdırılma metodu, vaxt və əlaqə məlumatları</h3>
                {% include "components/delivery/modal1.html" %}
                
                <h3>Seçilmiş məhsullar</h3>
                <div>
                    {% for item in items %}
                    <div class="map-basket-item d-flex my-4 align-items-center">
                        <img class="border rounded p-1" src="{{item.product.image.url}}" alt="Title" />
                        <div class="ps-3 w-100">
                            <h5 class="font-weight-normal">{{item.product.title}}</h5>
                            <p class="text-primary">₼ {% if item.product.discount %}{{item.product.discount_price|format_decimal:2}}{% else %}{{item.product.price|format_decimal:2}}{% endif %}</p>
                        </div>
                        <div class="text-primary w-25 d-flex align-items-center justify-content-end">
                            <span class="border border-secondary rounded py-2 px-3">{{item.quantity}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div  class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody >
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Ümumi qiymət</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="map_total_price"></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Endirim</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end" id="map_discount"></h5>
                                    </td> 
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Çatdırılma</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-heading text-end" id="map_total_delivery">₼ 0</h4>
                                    </td>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Yekun qiymət</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="map_discount_price"></h4>
                                    </td>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        {% comment %} <button  id="checkout_button" onclick="checkoutButton()" class="btn mb-20 w-100">Tamamla<i class="fi-rs-sign-out ml-15"></i></button> {% endcomment %}
                                        <button  id="checkout_button" onclick="checkoutButton()" class="btn mb-20 w-100">Tamamla<i class="fi-rs-sign-out ml-15"></i></button>
                                        <ul>
                                            <li id="checkout_address_error" class="text-danger">* Düzgün address seçin!</li>
                                            <li id="checkout_phone_error" class="text-danger">* Əlaqə məlumatlarını daxil edin!</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
<script src="{% static "assets/js/map.js" %}"></script>

{% endblock js %}