{% extends "base.html" %}
{% block main %}
<style>
    .container-error {
        max-width: 400px;
        margin-top: 50px;
    }
    
    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
</style>
<div class="container-error mx-auto">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Ödəniş xətası!</h4>
      <p>Ödəniş zamanı xəta baş verdi.</p>
      <hr>
      <p class="mb-0"><a href="{% if payment_redirect_url %}{{payment_redirect_url}}{% else %}#{% endif %}">Təkrar yoxlayın</a></p>
    </div>
  </div>
{% endblock main %}