{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin="localhost"/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin="localhost"></script>
<style>
    #map { height: 320px; }
</style>
{% endblock css %}

{% block header %}
{% include "components/header/header.html" with show_bottom="False" %}
{% endblock header %}

{% block main %}
    <div id="map"></div>
{% endblock main %}

{% block js %}
<script>
    var map = L.map('map').setView([40.36815635,  49.8210362], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([40.3685008, 49.8338029]).addTo(map);
    var circle = L.circle([40.3685008, 49.8338029], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 100
    }).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    
    var popup = L.popup();

    
    var previousMarker = null; // Önceki işaretçiyi tutacak değişken

// Haritaya tıklandığında bir işaretçi (marker) oluşturan fonksiyon
function onMapClick(e) {
    // Önceki işaretçiyi kaldır
    if (previousMarker !== null) {
        map.removeLayer(previousMarker);
    }

    // Yeni işaretçi oluştur
    var clickedMarker = L.marker(e.latlng).addTo(map);
    clickedMarker.bindPopup("Buraya tıkladınız.").openPopup();

    // Önceki işaretçiyi güncelle
    previousMarker = clickedMarker;

    // Ters jeokodlama yapmak için Nominatim servisini kullan
    var url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=' + e.latlng.lat + '&lon=' + e.latlng.lng + '&accept-language=az'; // Azerbaycanca dilini kullanmak için
    fetch(url)
        .then(response => response.json())
        .then(data => {
            var fullAddress = data.display_name;
            console.log("Tam Adres: " + fullAddress);
            // Bu bilgiyi istediğiniz şekilde kullanabilirsiniz
        })
        .catch(error => {
            console.error('Hata:', error);
        });
}

// Haritaya tıklama olayını dinleyen olay dinleyici ekleyin

    map.on('click', onMapClick);

    window.onload = function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                
                var currentLocationMarker = L.marker([latitude, longitude]).addTo(map);

                var currentLocationCircle = L.circle([latitude, longitude], {
                    color: 'green',
                    fillColor: 'green',
                    fillOpacity: 0.5,
                    radius: 100
                }).addTo(map);

                currentLocationMarker.bindPopup("Hal hazırda buradasınız.").openPopup();
                
                map.setView([latitude, longitude], 15); // Konumu merkez al ve yakınlaştır
                console.log("geolocation start")
            });
        } else {
            alert("Tarayıcınız konum belirleme özelliğini desteklemiyor.");
            console.log("geolocation xeta")

        }
    };
</script>
{% endblock js %}