{% extends "base.html" %}
{% block main %}
<style>
    .container-success {
    max-width: 400px;
    margin-top: 50px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
</style>
<div class="container-success mx-auto">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Uğurlu ödəniş!</h4>
      <p>Ödəniş uğurla tamamlandı. Təşəkkürlər!</p>
      {% if tracking_url %}
      <hr>
      <p class="mb-0">Sifarişi <a href="{{tracking_url}}">buradan</a> izləyə bilərsiniz.</p>
      {% endif %}
    </div>
  </div>
{% endblock main %}