{% extends "layouts/default.html" %}


{% block title %}
{% if seo.title %}
<title>{{ seo.title }}</title>
{% else %}
<title>{{setting.site_title}}</title>
{% endif %}
{% endblock title %}

{% block seo %}
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% endif %}">
    <meta name="keywords" content="{% if seo.keyword %}{{ seo.keyword }}{% endif %}">
    <meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% endif %}"/>
    <meta property="og:description" content="{% if seo.description %}{{ seo.description }}{% endif %}"/>
    <meta property="og:image" content="{% if about.image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ about.image.url }}{% endif %}"/>
{% endblock seo%}

{% block main %}
    {% include "pages/home/components/Hero.html" %}

    {% comment %} {% include "pages/home/components/Products.html" %} {% endcomment %}

    {% include "pages/home/components/CategoryBanner.html" %}

    {% include "pages/home/components/Features.html" %}

    {% include "pages/home/components/Campanies.html" %}

    {% include "pages/home/components/FilteringSection.html" %}

    {% include "pages/home/components/About.html" %}

    {% include "pages/home/components/Partners.html" %}

    {% include "pages/home/components/Statistic.html" %}

    {% include "pages/home/components/FAQ.html" %}
{% endblock main %}