{% extends "layouts/default.html" %}

{% block main %}
    {% include "pages/home/components/Hero.html" %}

    {% include "pages/home/components/Products.html" %}

    {% include "pages/home/components/CategoryBanner.html" %}

    {% include "pages/home/components/Features.html" %}

    {% include "pages/home/components/Campanies.html" %}

    {% include "pages/home/components/FilteringSection.html" %}

    {% include "pages/home/components/About.html" %}

    {% include "pages/home/components/Partners.html" %}

    {% include "pages/home/components/Statistic.html" %}

    {% include "pages/home/components/FAQ.html" %}
{% endblock main %}