/* Yükleyici kapsayıcı stil */
.loader-container {
  position: fixed;              /* Ekranda sabit pozisyon */
  top: 0;
  left: 0;
  width: 100%;                  /* Tam genişlik */
  height: 100%;                 /* Tam yükseklik */
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;                /* Diğer içeriklerin üstünde görünsün */
}

/* Yükleyici stil */
.loader {
  border: 8px solid #f3f3f3;    /* Hafif gri arka plan */
  border-top: 8px solid #028C1F; /* Mavi dönen kısım */
  border-radius: 50%;
  width: 100px;                  /* Daha geniş yaparak görünürlüğü artırdık */
  height: 100px;
  animation: spin 0.8s linear infinite; /* Hızlandırılmış dönme animasyonu */
}

/* Dönme animasyonu */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Duyarlılık için medya sorgusu */
@media (max-width: 600px) {
  .loader {
      width: 40px;              /* Küçük ekranlarda daha küçük boyut */
      height: 40px;
      border-width: 6px;        /* Kenar kalınlığını azalt */
  }
}
