{% extends "base.html" %}
{% load custom_filters %}
{% load producthelper %}
{% load i18n %}
{% block main %}
    <div class="page-content pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link {% if not tab == 2 and not tab == 3 %}active{% endif %}" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>{% trans "Sifarişlər" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if tab == 2 %}active{% endif %}" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>{% trans "Hesab məlumatları" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if tab == 3 %}active{% endif %}" id="password-tab" data-bs-toggle="tab" href="#password-panel" role="tab" aria-controls="password-panel" aria-selected="true"><i class="fi-rs-settings-sliders mr-10"></i>{% trans "Parolu yenilə" %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class='nav-link' href='{% url "logout" %}'><i class="fi-rs-sign-out mr-10"></i>{% trans "Çıxış" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content">
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="mt-3 mt-md-0 alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="tab-pane fade {% if not tab == 2 and not tab == 3 %}active show{% endif %}" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">{% trans "Sifarişləriniz" %}</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>{% trans "Sifariş" %}</th>
                                                            <th>{% trans "Tarix" %}</th>
                                                            <th>{% trans "Status" %}</th>
                                                            <th>{% trans "Qiymət" %}</th>
                                                            <th>{% trans "Keçidlər" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for order in orders %}
                                                        <tr>
                                                            <td>#{{order.id}}</td>
                                                            <td>{{order.created_at}}</td>
                                                            <td>{{order.confirmed_status}}</td>
                                                            <td>₼ {% if order.discount %}{{order.discount_amount|format_decimal:2}}{% else %}{{order.total_amount|format_decimal:2}}{% endif %} {{order.order_items.count}} {% trans "məhsul" %}</td>
                                                            <td>
                                                                {% if order.tracking_url %}
                                                                <a href="{{order.tracking_url}}" class="btn-small d-block">{% trans "Sifarişi izlə" %}</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade {% if tab == 2 %}active show{% endif %}" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="post" name="enq">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>{% trans "Ad" %}<span class="required">*</span></label>
                                                        <input class="form-control" value="{{user.first_name}}" name="first_name" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>{% trans "Soyad" %} <span class="required">*</span></label>
                                                        <input class="form-control" value="{{user.last_name}}" name="last_name" type="text">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>{% trans "Email" %} <span class="required">*</span></label>
                                                        <input class="form-control"value="{{user.email}}" name="email" type="email">
                                                    </div> 
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="account_submit">{% trans "Yadda saxla" %}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade {% if tab == 3 %}active show{% endif %}" id="password-panel" role="tabpanel" aria-labelledby="password-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="post" name="enq">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>{% trans "Hazırki parol" %} <span class="required">*</span></label>
                                                        <input class="form-control" name="old_password" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>{% trans "Yeni parol" %} <span class="required">*</span></label>
                                                        <input class="form-control" name="new_password1" type="password">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>{% trans "Parolu təkrarla" %} <span class="required">*</span></label>
                                                        <input class="form-control" name="new_password2" type="password">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="password_submit">{% trans "Yadda saxla" %}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}