{% extends "base.html" %}
{% block main %}
<div class="container mb-80 mt-50 custom-blog-page">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-xl-3 col-lg-4">
            <div class="single-blog-style1 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="img-holder">
                    <div class="inner">
                        <img src="{{blog.image.url}}" alt="Awesome Image">
                    </div>
                    <div class="date-box">
                        <h5>{{blog.created|date:"d M Y"}}</h5>
                    </div>
                </div> 
                <div class="text-holder">
                    <h3 class="blog-title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h3>
                    <div class="text">
                        <p>{{blog.description|striptags|safe|truncatechars:"60"}}</p>    
                    </div>
                    <div class="bottom-box">
                        <div class="left">
                            <a class="readmore" href="{{blog.get_absolute_url}}">Daha çox</a>
                        </div>
                        <div class="right">
                            <a class="btn-style3" href="{{blog.get_absolute_url}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                   
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}