{% extends "base.html" %}
{% load custom_filters %}
{% block main %}
<div class="container mb-80 mt-50">
    <div class="row">
        {% for company in companies %}
        <div class="col-xl-3 col-lg-4 col-md-6 {% if forloop.counter == 3 %}d-none d-lg-block{% elif forloop.counter == 4 %}d-none d-xl-block{% endif %}">
            <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                <div class="product-img-action-wrap">
                    <div class="product-img">
                        <a  href="{{company.product.get_absolute_url}}">
                            <img src="{{company.image.url}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="product-content-wrap">
                    <div class="deals-countdown-wrap">
                        <div class="deals-countdown" data-countdown="{{company.finish_time|date:"Y/m/d"}} {{company.finish_time|date:"H:i:s"}}"></div>
                    </div>
                    <div class="deals-content">
                        <h2><a  href="{{company.product.get_absolute_url}}">{{company.product.title}}</a></h2>
                        <div>
                            <span class="font-small text-muted">By <a href='{% url "shop" %}?vendor={{company.product.vendor.slug}}'>{{company.product.vendor}}</a></span>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-price">
                                <span>₼ {% if company.product.discount %}{{company.product.discount_price|format_decimal:2}}{% else %}{{company.product.price|format_decimal:2}}{% endif %}</span>
                                {% if company.product.discount %}
                                <span class="old-price">₼ {{company.product.price|format_decimal:2}}</span>
                                {% endif %}
                            </div>
                            <div class="add-cart">
                                <a class='add'  {% if user.is_authenticated %}onclick="addToBasket({{ company.product.id }},1)"{% else %}href="{% url "login" %}"{% endif %}><i class="fi-rs-shopping-cart mr-5"></i>Seç</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}