{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="page-content pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <section class="mb-50">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="contact-from-area padding-20-row-col">
                                <!-- Section Heading -->
                                <h5 class="text-brand mb-10">Əlaqə</h5>

                                <!-- Contact Form -->
                                <form class="contact-form-style mt-30" id="contact-form" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Name Input Field -->
                                        {{form}}
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="name" placeholder="Ad Soyad" type="text">
                                            </div>
                                        </div>

                                        <!-- Email Input Field -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="email" placeholder="Email" type="email">
                                            </div>
                                        </div>

                                        <!-- Number Input Field -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="number" placeholder="Nömrə" type="tel">
                                            </div>
                                        </div>

                                        <!-- Subject Input Field -->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="subject" placeholder="Mövzu" type="text">
                                            </div>
                                        </div>

                                        <!-- Message Textarea Field -->
                                        <div class="col-lg-12 col-md-12">
                                            <div class="textarea-style mb-30">
                                                <textarea name="message" placeholder="Mesaj"></textarea>
                                            </div>
                                            
                                            <!-- Submit Button -->
                                            <button class="submit submit-auto-width" type="submit">Göndər</button>
                                        </div>
                                    </div>
                                </form>

                                <!-- Form Submission Message -->
                                <p class="form-messege">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <!-- Image Section (Optional) -->
                        <div class="col-lg-4 pl-50 d-lg-block d-none">
                            <img class="border-radius-15 mt-50" src="{% static "assets/imgs/page/contact-2.png" %}" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock main %}