{% extends "base.html" %}
{% block main %}

    {% include "components/index/home-slider.html" %}
    <!--End hero slider-->
    
    <!--About section-->
    {% include "components/index/about.html" %}
    <!--About section end-->

    {% include "components/index/product-tab.html" %}
    <!--Products Tabs-->

    {% include "components/index/category-banner.html" %}
    <!--End Category Banner-->

    {% include "components/index/featured.html" %}
    <!--End Featured section-->

    {% include "components/index/companies.html" %}
    <!--End Companies section-->

    {% include "components/index/filtering-section.html" %}
    <!--End Trending, Selling section-->

    {% include "components/index/partners.html" %}
    <!--End Partners section-->

    {% include "components/index/faq.html" %}
    <!--End FAQ section-->

    {% include "components/index/blog.html" %}
    <!--End Blog section-->
{% endblock main %}