{% extends "base.html" %}
{% load static %}
{% block title %}
{% if seo.title %}
<title>{{ seo.title }}</title>
{% else %}
<title>{{setting.site_title}}</title>
{% endif %}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static "assets/css/category-swipper.css" %}"> 
{% endblock css %}

{% block seo %}
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% endif %}">
    <meta name="keywords" content="{% if seo.keyword %}{{ seo.keyword }}{% endif %}">
    <meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% endif %}"/>
    <meta property="og:description" content="{% if seo.description %}{{ seo.description }}{% endif %}"/>
    <meta property="og:image" content="{% if about.image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ about.image.url }}{% endif %}"/>
{% endblock seo%}

{% block main %}
    {% comment %} {% include "components/page-header/page-header.html" with title="Məhsullar" %} {% endcomment %}
    <div class="container mb-30 mt-50">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                {% include "components/shop/filter.html" %}
                {% include "components/shop/product-list.html" %}
                <!--product grid-->
                {% include "components/shop/pagination.html" %}

                {% include "components/shop/companies.html" %}
                <!--End Companies section-->
            </div>
            {% include "components/shop/sidebar.html" %}
        </div>
    </div>
{% endblock main %}