{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% if seo.title %}
<title>{{ seo.title }}</title>
{% else %}
<title>{{setting.site_title}}</title>
{% endif %}
{% endblock title %}

{% block seo %}
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% endif %}">
    <meta name="keywords" content="{% if seo.keyword %}{{ seo.keyword }}{% endif %}">
    <meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% endif %}"/>
    <meta property="og:description" content="{% if seo.description %}{{ seo.description }}{% endif %}"/>
    <meta property="og:image" content="{% if about.image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ about.image.url }}{% endif %}"/>
{% endblock seo%}

{% block css %}
<link rel="stylesheet" href="{% static "assets/css/vacancies.css" %}">
{% endblock css %}

{% block main %}
<div class="container mb-80 mt-50 custom-blog-page">
    <div class="vacancies">
        <div class="job-card">
            <div class="job-header">
                <span class="job-category design">Design</span>
                <span class="job-title">Product Designer</span>
            </div>
            <p class="job-description">We're looking for a mid-level product designer to join our team.</p>
            <div class="job-info">
                <span class="job-location">Remote</span>
                <span class="job-type">Full-time</span>
            </div>
            <a href="#" class="job-link">View job</a>
        </div>
        <div class="job-card">
            <div class="job-header">
                <span class="job-category software">Software Development</span>
                <span class="job-title">Engineering Manager</span>
            </div>
            <p class="job-description">We're looking for a mid-level product designer to join our team.</p>
            <div class="job-info">
                <span class="job-location">Remote</span>
                <span class="job-type">Full-time</span>
            </div>
            <a href="#" class="job-link">View job</a>
        </div>
        <div class="job-card">
            <div class="job-header">
                <span class="job-category customer-success">Customer Success</span>
                <span class="job-title">Customer Success Manager</span>
            </div>
            <p class="job-description">We're looking for a mid-level product designer to join our team.</p>
            <div class="job-info">
                <span class="job-location">Remote</span>
                <span class="job-type">Full-time</span>
            </div>
            <a href="#" class="job-link">View job</a>
        </div>
        <div class="job-card">
            <div class="job-header">
                <span class="job-category sales">Sales</span>
                <span class="job-title">Account Executive</span>
            </div>
            <p class="job-description">We're looking for a mid-level product designer to join our team.</p>
            <div class="job-info">
                <span class="job-location">Remote</span>
                <span class="job-type">Full-time</span>
            </div>
            <a href="#" class="job-link">View job</a>
        </div>
        <div class="job-card">
            <div class="job-header">
                <span class="job-category marketing">Marketing</span>
                <span class="job-title">SEO Marketing Manager</span>
            </div>
            <p class="job-description">We're looking for a mid-level product designer to join our team.</p>
            <div class="job-info">
                <span class="job-location">Remote</span>
                <span class="job-type">Full-time</span>
            </div>
            <a href="#" class="job-link">View job</a>
        </div>
    </div>
</div>
{% endblock main %}