@media only screen and (max-width: 768px) {
    .custom-modal-body .title-detail{
        font-size: 16px;
    }
    .custom-modal-body .current-price{
        font-size: 40px !important;
    }
    .custom-modal-body .old-price{
        font-size: 20px !important;
    }
    .custom-modal .modal-content{
        padding: 0 !important;
    }
    .custom-modal{
        padding-top: 230px !important;
    }
    .custom-modal .zoom-icon{
        display: none;
    }
}