#loader {
    border: 16px solid rgba(0, 0, 0, 0.3); /* Arkaplanın hafif görünmesini sağlar */
    border-top: 16px solid #039D2E;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.6s linear infinite; /* Daha hızlı dönmesini sağlar */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px; /* Dikey hizalama */
    margin-left: -60px; /* Yatay hizalama */
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9998; /* loader ve diğer içeriklerin üstünde olacak */
    /* display: none;  */
  }
  @media only screen and (max-width: 600px) {
    #loader {
      width: 60px;
      height: 60px;
      margin-top: -30px;
      margin-left: -30px;
    }
  }