{% load static %}
<footer class="main footer_desktop">


    <section class="section-padding footer-mid">

        <div class="container pt-15 pb-20 pr-30 pl-30" id="mypadding">
            <div class="row">
                <div class="logo mb-30 slogan">
                    <a href="#" class="mb-15 "><img style="height:120px;" src="{{setting.footer_logo.url}}" alt="logo"></a>
                    <p class="font-lg text-heading">{{setting.footer_slogan|safe}}</p>
                </div>

                <div class="footer-link-widget col wow animate__animated animate__fadeInUp">

                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp"
                        data-wow-delay="0">

                        <div style="justify-content: center;">

                            <iframe class="mapp-my" 
                                src="{{setting.g_adress_iframe}}"
                                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>

                <div class="footer-link-widget col wow animate__animated animate__fadeInUp  " data-wow-delay=".2s">
                    <div class="mycenterclass">
                        <h4 class="widget-title">SOSİAL ŞƏBƏKƏLƏR </h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="{% if setting.instagram %}{{setting.instagram}}{% else %}#{% endif %}">İnstagram</a></li>
                            <li><a href="{% if setting.facebook %}{{setting.facebook}}{% else %}#{% endif %}">Facebook</a></li>
                            <li><a href="{% if setting.youtube %}{{setting.youtube}}{% else %}#{% endif %}">Youtube</a></li>
                            <li><a href="{% if setting.tiktok %}{{setting.tiktok}}{% else %}#{% endif %}">Tiktok</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-link-widget col wow animate__animated animate__fadeInUp " data-wow-delay=".3s">
                    <div class="mycenterclass">
                        <h4 class="widget-title">LİNKLƏR</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="{% url "home" %}">Ana Səhifə</a></li>
                            <li><a href="{% url "about" %}">Haqqında</a></li>
                            <li><a href="{% url "shop" %}">Məhsullar</a></li>
                            <li><a href="{% url "blog" %}">Bloq</a></li>
                            <li><a href="{% url "companies" %}">Kampaniyalar</a></li>
                            <li><a href="{% url "contact" %}">Əlaqə</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                    <div class="mycenterclass">
                        <h4 class="widget-title">BİZİMLƏ ƏLAQƏ</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">nomre:</a></li>
                            <li><a href="#">nomre:</a></li>
                            <li><a href="#">email:</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
        <div class="row align-items-center">
            <div class="col-12 mb-30">
                <div class="footer-bottom"></div>
            </div>
            <div><a href="https://vrproduction.az/">© VR Production 2023 Bütün hüquqlar qorunur!</a></div>
        </div>
    </div>
</footer>