{% extends "base.html" %}

{% block main %}
<div class="page-content pt-50 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mt-5">
                    <h2>Parol Sıfırlama Tamamlandı</h2>
                    <p>Parolunuz uğurla sıfırlandı. Yeni parolunuzla daxil ola bilərsiniz. <a href="{% url "login" %}">Daxil ol</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}