{% extends "base.html" %}
{% load i18n %}
{% block main %}
<div class="page-content pt-50 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mt-5">
                    <h1>{% trans "Qeydiyyat Uğurla Tamamlandı" %}</h1>
                    <p class="mt-3">{% trans "Hesabınızı aktivləşdirmək üçün e-poçtunuzu yoxlayın." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}