{% extends 'base-admin.html' %}
{% load static %}

{% block main-content %}



<!--start page wrapper -->
<div class="page-wrapper">
	<div class="page-content">
		<!--breadcrumb-->
		{% include 'orders/order-header.html' %}
		<!--end breadcrumb-->

		<div class="card">
			<div class="card-body">
				<div class="d-lg-flex align-items-center mb-4 gap-3">
					<div class="position-relative">
						<input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span
							class="position-absolute top-50 product-show translate-middle-y"><i
								class="bx bx-search"></i></span>
					</div>
					<div class="ms-auto"><a href="javascript:;" class="btn btn-light radius-30 mt-2 mt-lg-0"><i
								class="bx bxs-plus-square"></i>Add New Order</a></div>
				</div>
				<div class="table-responsive">
					<table class="table mb-0">
						<thead class="table-light">
							<tr>
								<th>Sifariş ID</th>
								<th>Sifariş etdi</th>
								<th>Sifariş növü</th>
								<th>Ödəniş</th>
								<th>Sifariş edildi</th>
								<th>Sifarişə bax</th>
								<th>Əməliyyatlar</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
							{% include 'orders/order-item.html' with order=order %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</div>
<!--end page wrapper -->



{% endblock %}