{% load static %}
<tr>
    <td>
        <div class="d-flex align-items-center">
            <div class="ms-2">
                <h6 class="mb-0 font-14">#{{order.id}}</h6>
            </div>
        </div>
    </td>
    <td>{{order.user}}</td>
    <td>
        <div class="badge rounded-pill bg-light p-2 text-uppercase px-3"><i
                class='bx bxs-circle me-1'></i>{{order.order_type}}</div>
    </td>
    <td>{{order.total_amount}} AZN</td>
    <td>{{order.created_at}}</td>
    <td>
        <div class="d-flex order-actions">
            <a href="javascript:;" class="eye-view-link" data-bs-toggle="modal"
                data-bs-target="#exampleScrollableModal-{{order.id}}"><i class="bx bxs-show"></i></a>

            {% include 'modal/view-order.html' with order=order %}

            <a href="javascript:;" class="ms-3" data-bs-toggle="modal"
                data-bs-target="#exampleDangerModal-{{order.id}}"><i class='bx bxs-trash'></i></a>

            {% include 'modal/delete-order-modal.html' with order=order %}

        </div>
    </td>
</tr>

{% block js %}
<script src="{% static 'assets/admin-assets/js/api/orders.js' %}"></script>
{% endblock %}