{% load urlhelper %}
{% load i18n %}
<div class="shop-product-fillter">
    <div class="totall-product">
        <p>{% trans "Sizin üçün" %} <strong class="text-brand">{{count}}</strong> {% trans "məhsul tapdıq!" %}</p>
    </div>
    <div class="sort-by-product-area">
        <div class="sort-by-cover mr-10">
            <div class="sort-by-product-wrap">
                <div class="sort-by">
                    <span><i class="fi-rs-apps"></i><span class="d-none d-md-inline">{% trans "Göstər" %}:</span></span>
                </div>
                <div class="sort-by-dropdown-wrap">
                    <span> {% if request.GET.show %}{{request.GET.show}}{% else %}{{ page_obj.paginator.per_page }}{% endif %} <i class="fi-rs-angle-small-down"></i></span>
                </div>
            </div>
            <div class="sort-by-dropdown">
                <ul>
                    <li><a {% if request.GET.show == "10" or page_obj.paginator.per_page == 10 %}class="active"{% endif %} href="{% edit_query request show=10 %}">10</a></li>
                    <li><a {% if request.GET.show == "20" or page_obj.paginator.per_page == 20 %}class="active"{% endif %} href="{% edit_query request show=20 %}">20</a></li>
                    <li><a {% if request.GET.show == "30" or page_obj.paginator.per_page == 30 %}class="active"{% endif %} href="{% edit_query request show=30 %}">30</a></li>
                    <li><a {% if request.GET.show == "40" or page_obj.paginator.per_page == 40 %}class="active"{% endif %} href="{% edit_query request show=40 %}">40</a></li>
                </ul>
            </div>
        </div>
<!--        <div class="sort-by-cover" {% if not request.GET.ordering == "-price" and not request.GET.ordering == "price" %}style="width:190px;"{% else %}{% endif %}>-->
        <div class="sort-by-cover" >
            <div class="sort-by-product-wrap">
                <div class="sort-by">
                    <span><i class="fi-rs-apps-sort"></i>{% if not request.GET.ordering == "-is_best_seller" %}<span class="d-none d-md-inline">{% trans "Sırala" %}:</span>{% endif %}</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                    <span> {% if request.GET.ordering == "pk" %}{% trans "Yeni" %}{% elif request.GET.ordering == "-is_best_seller" %}{% trans "Ən çox satılanlar" %}{% elif request.GET.ordering == "price" %}{% trans "Qiymət (azdan-çoxa)" %}{% elif request.GET.ordering == "-price" %}{% trans "Qiymət (çoxdan-aza)" %}{% else %}{% trans "Yeni" %}{% endif %} <i class="fi-rs-angle-small-down"></i></span>
                </div>
            </div>
            <div class="sort-by-dropdown">
                <ul>
                    <li><a {% if request.GET.ordering == "pk" or not request.GET.ordering %}class="active"{% endif %} href="{% edit_query request ordering="pk" %}">{% trans "Yeni" %}</a></li>
                    {% comment %} <li><a {% if request.GET.ordering == "-is_best_seller" %}class="active"{% endif %} href="{% edit_query request ordering="-is_best_seller" %}">Ən çox satılanlar</a></li> {% endcomment %}
                    <li><a {% if request.GET.ordering == "price" %}class="active"{% endif %} href="{% edit_query request ordering='price' %}">{% trans "Qiymət (azdan-çoxa)" %}</a></li>
                    <li><a {% if request.GET.ordering == "-price" %}class="active"{% endif %} href="{% edit_query request ordering='-price' %}">{% trans "Qiymət (çoxdan-aza)" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-categories">
        {% for category in categories %}
        <div class="shop-category {% if request.GET.category == category.slug %}active-category{% endif %}"> 
            <a href="{% edit_query request category=category.slug %}">{{category.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>