{% load static %}
{% load urlhelper %}
{% load custom_filters %}

<div class="col-lg-1-5 primary-sidebar sticky-sidebar">
    <div class="sidebar-widget widget-category-2 mb-30">
        <h5 class="section-title style-1 mb-30">Kateqoriyalar</h5>
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% edit_query request category=category.id %}"> <img src="{{category.image.url}}" alt="">{{category.title}}</a><span class="count">{{category.products.count}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Product sidebar Widget -->
    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
        <h5 class="section-title style-1 mb-30">Yeni məhsullar</h5>
        {% for product in new_products %}
        <div class="single-post clearfix">
            <div class="image">
                <img src="{{product.image.url}}" alt="#">
            </div>
            <div class="content pt-10">
                <h5><a aria-label="Quick view" data-bs-toggle="modal" data-bs-target="#quickViewModal{{product.id}}">{{product.title}}</a></h5>
                <p class="price mb-0 mt-5">
                    <span style="color:#039D2E;">₼ {% if product.discount %}{{product.discount_price|format_decimal:2}}{% else %}{{product.price|format_decimal:2}}{% endif %}</span>
                    {% if product.discount %}
                    <span style="font-size: 12px;" class="old-price">₼ <del>{{product.price|format_decimal:2}}</del></span>
                    {% endif %}
                </p>
            </div>
        </div>
       {% endfor %}
    </div>
</div>
{% for product in new_products %}
{% include "components/product/modal.html" %}
{% endfor %}