{% load static %}
{% load i18n %}
<!-- Button trigger modal -->
<button data-bs-toggle="modal" data-bs-target="#modelDelivery"
    class="my-4 p-4 w-100 text-start bg-transparent border rounded d-flex align-items-center" type="button">
    <img class="delivery-img" src="{% static "assets/imgs/delivery.png" %}" alt="">
    <div class="w-100 ps-3"><span id="map-location-info" class="font-weight-bold me-2 text-danger">Çatdırılma nöqtəsini seçin </span><br class="d-md-none"> <span id="delivery_time" style="font-size: 10px;"></span></div>
    <div style="width: 10%;" class="d-flex justify-content-end align-items-center">
        <img class="delivery-img" src="{% static "assets/imgs/right-arrow.png" %}" alt="">
    </div>
</button>

<button data-bs-toggle="modal" data-bs-target="#modalPhone"
    class="my-4 p-4 w-100 text-start bg-transparent border rounded d-flex align-items-center" type="button">
    <img class="delivery-img" src="{% static "assets/imgs/telephone.png" %}" alt="">
    <div class="w-100 ps-3"><span id="phone-info" class="font-weight-bold me-2 text-danger">{% trans "Əlaqə məlumatlarını daxil edin" %}</span></div>
    <div style="width: 10%;" class="d-flex justify-content-end align-items-center">
        <img class="delivery-img" src="{% static "assets/imgs/right-arrow.png" %}" alt="">
    </div>
</button>

<!-- Modal Delivery -->
<div class="modal fade" id="modelDelivery" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
    aria-hidden="true">
    <div class="h-100 d-flex align-items-center">
        <div class="modal-dialog" role="document" style="width: 650px; max-width: 650px;">
            <div class="modal-content">
                <div class="modal-header py-4">
                    <h6 class="modal-title text-center w-100" id="modalTitleId">
                        {% trans "Çatdırılma məlumatları" %}
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>{% trans "Hara çatdırılacaq?" %}</h6>
                    <div id="radio-list">
                        <div id="select_current_location" class="form-check my-2 ms-1 d-none">
                            <div class="w-100">
                                <input class="form-check-input" type="radio" name="location" id="location1"
                                    value="option1" checked>
                                <label id="option1Label" class="form-check-label text-dark" for="location1">

                                </label>
                            </div>
                        </div>
                    </div>
                    <button 
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#modalAddress"
                        onclick="showAddressModal()"
                        class="mt-2 bg-transparent border-0 p-0 m-0 d-flex align-items-center "
                        style="margin-left: 1px !important;">
                        <img style="width: 15px;" src="{% static "assets/imgs/plus.png" %}" alt="">
                        <span class="ms-2 text-primary">{% trans "Yeni address əlavə edin" %}</span>
                    </button>
                </div>
                <div class="modal-footer py-4">
                    <button onclick="deilveryButton()" type="button" class="btn btn-primary w-100">{% trans "Təsdiq edin" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Phone -->
<div class="modal fade" id="modalPhone" tabindex="-1" role="dialog" aria-labelledby="modalPhone"
    aria-hidden="true">
    <div class="h-100 d-flex align-items-center">
        <div class="modal-dialog" role="document" style="width: 650px; max-width: 650px;">
            <div class="modal-content">
                <div class="modal-header py-4">
                    <h6 class="modal-title text-center w-100" id="modalTitleId">
                        {% trans "Əlaqə məlumatları" %}
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>{% trans "Ad soyad" %}</h6>
                    <div class="form-check ps-0 my-2">
                        <input id="nameInput" style="height: 40px;" class="mt-2" type="text" placeholder="{% trans "Ad Soyad" %}" oninput="validateName()">
                        <div id="nameErrorMessages" style="color: red;"></div>
                    </div>
                    <h6>{% trans "Nömrə" %}</h6>
                    <div class="form-check ps-0 my-2">
                        <input id="phoneNumberInput" style="height: 40px;" class="mt-2" type="tel" maxlength="10" placeholder="0XXXXXXXXX" oninput="validatePhoneNumber()">
                        <div id="errorMessages" style="color: red;"></div>
                    </div>
                    <h6>{% trans "Çatdırılma üçün ətraflı məlumat" %}</h6>
                    <div class="form-check ps-0 my-2">
                        <input id="descriptionInput" style="height: 40px;" class="mt-2" type="text" placeholder="{% trans "Mərtəbə, blok,  mənzil" %} " oninput="validateDescription()">
                        <div id="descriptionErrorMessages" style="color: red;"></div>
                    </div>
                </div>
                <div class="modal-footer py-4">
                    <button onclick="phoneButton()" id="phoneButton" type="button" class="btn btn-primary w-100">{% trans "Təsdiq edin" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "components/delivery/modal2.html" %}

<script>
    var modalDelivery = document.getElementById('modelDelivery');

    modalDelivery.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let recipient = button.getAttribute('data-bs-whatever');

        // Use above variables to manipulate the DOM
    });
</script>
