<!--Start Blog Style1 Area-->
<section class="blog-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="sec-title" style="padding:0;">
                    <a href="{% url "blog" %}"><h2>Bloqlar</h2></a>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 2rem;">
            {% for blog in blogs %}
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{{blog.image.url}}" alt="Awesome Image">
                        </div>
                        <div class="date-box">
                            <h5>{{blog.created|date:"d M Y"}}</h5>
                        </div>
                    </div> 
                    <div class="text-holder">
                        <h3 class="blog-title"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h3>
                        <div class="text">
                            <p>{{blog.description|striptags|safe|truncatechars:"60"}}</p>    
                        </div>
                        <div class="bottom-box">
                            <div class="left">
                                <a class="readmore" href="{{blog.get_absolute_url}}">Daha çox</a>
                            </div>
                            <div class="right">
                                <a class="btn-style3" href="{{blog.get_absolute_url}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                       
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--End Blog Style1 Area-->