{% extends "base.html" %}

{% block title %}
{% if seo.title %}
<title>{{ seo.title }}</title>
{% else %}
<title>{{setting.site_title}}</title>
{% endif %}
{% endblock title %}

{% block seo %}
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% endif %}">
    <meta name="keywords" content="{% if seo.keyword %}{{ seo.keyword }}{% endif %}">
    <meta property="og:title" content="{% if seo.title %}{{ seo.title }}{% endif %}"/>
    <meta property="og:description" content="{% if seo.description %}{{ seo.description }}{% endif %}"/>
    <meta property="og:image" content="{% if about.image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ about.image.url }}{% endif %}"/>
{% endblock seo%}

{% block main %}

     {% include "components/index/home-slider.html" %}
    <!--End hero slider-->

    {% include "components/index/product-tab.html" %}
    <!--Products Tabs-->

    {% include "components/index/category-banner.html" %}
    <!--End Category Banner-->

    {% include "components/index/featured.html" %}
    <!--End Featured section-->

    {% include "components/index/companies.html" %}
    <!--End Companies section-->

    {% include "components/index/filtering-section.html" %}
    <!--End Trending, Selling section-->
    
   <!--About section-->
   {% include "components/index/about.html" %}
   <!--About section end--> 

    {% include "components/index/partners.html" %}
    <!--End Partners section-->

    {% include "components/index/faq.html" %}
    <!--End FAQ section-->

    {% include "components/index/blog.html" %}
    <!--End Blog section-->

{% endblock main %}