{% load static %}
{% load i18n %}
{% load custom_filters %}

<div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4">
                <div class="header-info">
                    <ul>
                        <li><a href="{% url "about" %}">{% trans "Haqqımızda" %}</a></li>
                        <li><a href="{% if user.is_authenticated %}{% url "account" %}?tab=2{% else %}{% url "login" %}?next={% url "account" %}?tab=2{% endif %}">{% trans "Hesab" %}</a></li>
                        <li><a href="{% if user.is_authenticated %}{% url "wish_list" %}{% else %}{% url "login" %}?next={% url "wish_list" %}{% endif %}">{% trans "Sevimlilər" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4">
                <div class="text-center">
                    <div id="news-flash" >
                        <ul class="w-100">
                            {% for company in header_companies %}
                            <li class="w-100">{{company.product}} - {{company.discount|format_decimal:2}}% endirim</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="header-info header-info-right">
                    <ul>
                        <li>{% trans "Zəng et" %}: <strong class="text-brand"> {% for number in setting.numbers.all %}
                            {% if number.is_main and forloop.counter < 2 %}
                            {{number.number}}
                            {% endif %}
                            {% endfor %}</strong></li>
                        <li>
                            <a class="language-dropdown-active">
                                {% if request.LANGUAGE_CODE == 'az' %}
                                    Azərbaycanca
                                {% elif request.LANGUAGE_CODE == 'en' %}
                                    English
                                {% elif request.LANGUAGE_CODE == 'ru' %}
                                    Русский
                                {% endif %}
                            <i class="fi-rs-angle-small-down"></i></a>
                            <ul class="language-dropdown">
                                {% if not request.LANGUAGE_CODE == 'en' %}
                                <li>
                                    <a href="{% url 'set-language' 'en' %}"><img src="{% static "assets/imgs/theme/flag-en.png" %}" alt="">English</a>
                                </li>
                                {% endif %}
                                {% if not request.LANGUAGE_CODE == 'az' %}
                                <li>
                                    <a href="{% url 'set-language' 'az' %}"><img src="{% static "assets/imgs/theme/flag-az.png" %}" alt="">Azərbaycanca</a>
                                </li>
                                {% endif %}
                                {% if not request.LANGUAGE_CODE == 'ru' %}
                                <li>
                                    <a href="{% url 'set-language' 'ru' %}"><img src="{% static "assets/imgs/theme/flag-ru.png" %}" alt="">Русский</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>