{% load static %}
<header class="header-area header-style-1 header-height-2">
    {% comment %} <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div> {% endcomment %}
    {% include "components/header/header-top.html" %}

    {% include "components/header/header-middle.html" %}
    {% if not show_bottom == 'False' %}
    {% include "components/header/header-bottom.html" %}
    {% endif %}
</header>