{% load static %}
<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="header-wrap">
            <div class="logo logo-width-1">
                <a href='{% url "home" %}'><img src="{% if setting.logo %}{{setting.logo.url}}{% endif %}" alt="logo"></a>
            </div>
            <div class="header-right">
                <div class="search-style-2">
                    <form action="{% url "shop" %}" method="get">
                        <select name="category" class="select-active">
                            <option value="">Kateqoriyalar</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.title}}</option>
                            {% endfor %}
                            
                        </select>
                        <input type="text" name="search" value="{{request.GET.search}}" placeholder="Axtar ...">
                        <button type="submit" style="display:flex; align-items:center; padding: 0;"><img src="{% static "assets/imgs/theme/icons/search.png" %}" alt=""></button>
                    </form>
                </div>
                <div class="header-action-right">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href='{% url "wish_list" %}'>
                                <img class="svgInject" alt="Nest" src="{% static "assets/imgs/theme/icons/icon-heart.svg" %}">
                                <span class="pro-count blue" id="favorite_count">{% if user.is_authenticated %}{{favorite_count}}{% else %}0{% endif %}</span>
                            </a>
                            <a href='{% url "wish_list" %}'><span class="lable">Sevimlilər</span></a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class='mini-cart-icon' href='{% url "basket" %}'>
                                <img alt="Nest" src="{% static "assets/imgs/theme/icons/icon-cart.svg" %}">
                                <span id="header-basket-count" class="pro-count blue">0</span>
                            </a>
                            <a href='{% url "basket" %}'><span class="lable">Səbət</span></a>
                            {% include "components/header/basket.html" %}
                        </div>
                        <div class="header-action-icon-2">
                            <a href='page-account.html'>
                                <img class="svgInject" alt="Nest" src="{% static "assets/imgs/theme/icons/icon-user.svg" %}">
                            </a>
                            <a href="{% if user.is_authenticated %}#{% else %}{% url "login" %}{% endif %}"><span class="lable ml-0">Hesab</span></a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                {% if user.is_authenticated %}
                                <ul>
                                    <li>
                                        <a href='{% url "account" %}'><i class="fi fi-rs-user mr-10"></i>Hesab</a>
                                    </li>
                                    <li>
                                        <a href='page-account.html'><i class="fi fi-rs-location-alt mr-10"></i>Sifariş tarixçəsi</a>
                                    </li>
                                    
                                    <li>
                                        <a href='page-account.html'><i class="fi fi-rs-settings-sliders mr-10"></i>Ayarlar</a>
                                    </li>
                                    <li>
                                        <a href='{% url "logout" %}'><i class="fi fi-rs-sign-out mr-10"></i>Çıxış</a>
                                    </li>
                                </ul>
                                {% else %}
                                <ul>
                                    <li>
                                        <a href='{% url "login" %}'>Daxil ol</a>
                                    </li>
                                    <li>
                                        <a href='{% url "register" %}'>Qeydiyyatdan keç</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>