{% load static %}
<div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href='{% url "home" %}'><img src="{% if setting.logo %}{{setting.logo.url}}{% endif %}" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                <div class="main-categori-wrap d-none d-lg-block">
                    <a class="categories-button-active" href="#">
                        <span class="fi-rs-apps"></span> <span class="et">Kateqoriyalar
                        <i class="fi-rs-angle-down"></i>
                    </a>
                    <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                        <div class="d-flex categori-dropdown-inner">
                            <ul>
                                {% for category in categories %}
                                {% if forloop.counter < 6 %}
                                <li>
                                    <a href='{% url "shop" %}?category={{category.id}}'> <img src="{{category.image.url}}" alt="">{{category.title}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <ul class="end">
                                {% for category in categories %}
                                {% if forloop.counter < 11 and forloop.counter > 5 %}
                                <li>
                                    <a href='{% url "shop" %}?category={{category.id}}'> <img src="{{category.image.url}}" alt="">{{category.title}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </div>
                        {% if categories.count > 10  %}
                        <div class="more_slide_open" style="display: none">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                    {% for category in categories %}
                                    {% if forloop.counter > 10 and forloop.counter < 16 %}
                                    <li>
                                        <a href='{% url "shop" %}?category={{category.id}}'> <img src="{{category.image.url}}" alt="">{{category.title}}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <ul class="end">
                                    {% for category in categories %}
                                    {% if forloop.counter > 14 and forloop.counter < 21 %}
                                    <li>
                                        <a href='{% url "shop" %}?category={{category.id}}'> <img src="{{category.image.url}}" alt="">{{category.title}}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                       
                        <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                         {% endif %}
                     </div>
                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                    <nav>
                        <ul>
                            <li>
                                <a {% if request.path == '/' %}class="active"{% endif %} href='{% url "home" %}'>Ana səhifə</a>
                            </li>
                            <li>
                                <a {% if request.path == '/about/' %}class="active"{% endif %} href='{% url "about" %}'>Haqqımızda</a>
                            </li>
                            <li>
                                <a {% if request.path == '/shop/' %}class="active"{% endif %} href='{% url "shop" %}'>Məhsullar</a>
                            </li>
                            <li>
                                <a {% if request.path|slice:":7" == '/blogs/' %}class="active"{% endif %} href='{% url "blog" %}'>Bloq</a>
                            </li>
                            <li>
                                <a {% if request.path == '/companies/' %}class="active"{% endif %} href='{% url "companies" %}'>Kampaniyalar</a>
                            </li>
                            <li>
                                <a {% if request.path == '/contact/' %}class="active"{% endif %} href='{% url "contact" %}'>Əlaqə</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="hotline d-none d-lg-flex">
                <img src="{% static "assets/imgs/theme/icons/icon-headphone.svg" %}" alt="hotline">
                <p>{% for number in setting.numbers.all %}
                    {% if number.is_main and forloop.counter < 2 %}
                    <a style="font-size:15px;" href="tel:{{number.number}}">{{number.number}} </a>
                    {% endif %}
                    {% endfor %}<span>24/7 Dəstək</span></p>
            </div>
            <div class="header-action-icon-2 d-block d-lg-none">
                <div class="burger-icon burger-icon-white">
                    <span class="burger-icon-top"></span>
                    <span class="burger-icon-mid"></span>
                    <span class="burger-icon-bottom"></span>
                </div>
            </div>
            {% comment %} <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href='shop-wishlist.html'>
                            <img alt="Nest" src="{% static "assets/imgs/theme/icons/icon-heart.svg" %}">
                            <span class="pro-count white">4</span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="#">
                            <img alt="Nest" src="{% static "assets/imgs/theme/icons/icon-cart.svg" %}">
                            <span class="pro-count white">2</span>
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <ul>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href='shop-product-right.html'><img alt="Nest" src="{% static "assets/imgs/shop/thumbnail-3.jpg" %}"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href='shop-product-right.html'>Plain Striola Shirts</a></h4>
                                        <h3><span>1 × </span>$800.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href='shop-product-right.html'><img alt="Nest" src="{% static "assets/imgs/shop/thumbnail-4.jpg" %}"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href='shop-product-right.html'>Macbook Pro 2022</a></h4>
                                        <h3><span>1 × </span>$3500.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="shopping-cart-footer">
                                <div class="shopping-cart-total">
                                    <h4>Total <span>$383.00</span></h4>
                                </div>
                                <div class="shopping-cart-button">
                                    <a href='shop-cart.html'>View cart</a>
                                    <a href='shop-checkout.html'>Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>